@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');

:root {
    --color-normal: #9FA19F;
    --color-fighting: #FF8000;
    --color-flying: #81B9EF;
    --color-poison: #9141CB;
    --color-ground: #915121;
    --color-rock: #AFA981;
    --color-bug: #91A119;
    --color-ghost: #704170;
    --color-steel: #60A1B8;
    --color-fire: #E62829;
    --color-water: #2980EF;
    --color-grass: #3FA129;
    --color-electric: #FAC000;
    --color-psychic: #EF4179;
    --color-ice: #3DCEF3;
    --color-dragon: #5060E1;
    --color-dark: #624D4E;
    --color-fairy: #EF70EF;
    --main-font: 'Sarala', sans-serif;
}

main {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;

    width: fit-content;
    margin: auto;
    font-family: var(--main-font);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    max-width: 220px;
    aspect-ratio: 1 / 1.5;
    border-radius: 12px;
    box-shadow: 3px 3px 7px #00000071;
    padding: 1rem;
    /* border: 8px solid;
    border-color: var(--color-dragon); */
    background-image: linear-gradient(var(--color-dragon) 50%, var(--color-fairy) 50%);

    .cardImg {
        width: 80%;
        filter: drop-shadow(3px 3px 7px #00000071);
    }

}

/* div[data-type1="normal"] {
    background-color: var(--color-normal);
}
div[data-type1="fighting"] {
    background-color: var(--color-fighting);
}
div[data-type1="flying"] {
    background-color: var(--color-flying);
}
div[data-type1="poison"] {
    background-color: var(--color-poison);
}
div[data-type1="ground"] {
    background-color: var(--color-ground);
}
div[data-type1="rock"] {
    background-color: var(--color-rock);
}
div[data-type1="bug"] {
    background-color: var(--color-bug);
}
div[data-type1="ghost"] {
    background-color: var(--color-ghost);
}
div[data-type1="steel"] {
    background-color: var(--color-steel);
}
div[data-type1="fire"] {
    background-color: var(--color-fire);
}
div[data-type1="water"] {
    background-color: var(--color-water);
}
div[data-type1="grass"] {
    background-color: var(--color-grass);
}
div[data-type1="electric"] {
    background-color: var(--color-electric);
}
div[data-type1="psychic"] {
    background-color: var(--color-psychic);
}
div[data-type1="ice"] {
    background-color: var(--color-ice);
}
div[data-type1="dragon"] {
    background-color: var(--color-dragon);
}
div[data-type1="dark"] {
    background-color: var(--color-dark);
}
div[data-type1="fairy"] {
    background-color: var(--color-fairy);
}

.hidden {
    display: none;
} */